aioredis==1.3.0
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
Babel==2.7.0
beautifulsoup4==4.6.0
certifi==2019.3.9
cffi==1.13.2
channels==2.2.0
channels-redis==2.4.0
chardet==3.0.4
colorama==0.4.1
constantly==15.1.0
cryptography==2.8
daphne==2.3.0
dateparser==0.7.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.10
django-eventstream==2.5.0
django-filter==2.1.0
django-formtools==2.1
django-grip==2.0.2
django-modelcluster==5.0
django-otp==0.7.3
django-phonenumber-field==1.3.0
django-sslserver==0.21
django-taggit==1.1.0
django-toolbelt==0.0.1
django-treebeard==4.3
django-two-factor-auth==1.12
djangorestframework==3.10.3
draftjs-exporter==2.1.7
gripcontrol==3.3.1
grpcio==1.24.1
grpcio-tools==1.24.1
gunicorn==20.0.0
hiredis==1.0.1
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
msgpack==0.6.2
phonenumberslite==8.10.22
Pillow==6.2.1
protobuf==3.10.0
psycopg2==2.8.4
psycopg2-binary==2.8.2
pubcontrol==2.4.2
pycparser==2.19
PyHamcrest==1.9.0
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2019.1
qrcode==6.1
regex==2019.11.1
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
static3==0.7.0
Twisted==19.10.0
txaio==18.8.1
tzlocal==2.0.0
Unidecode==1.1.1
urllib3==1.24.2
wagtail==2.7.2
webencodings==0.5.1
Werkzeug==0.16.0
whitenoise==4.1.4
Willow==1.3
zope.interface==4.7.1
